* {
    font-family: monospace;
}

h1 {
    text-align: right;
    background-color: black;
    color: white;
}

li {
    background-color: gray;
}


div {
    font-size: 30px;
    font-family: 'Georgia';
    text-align: center;
}

.disclaimer {
    font-size: 6px;
    color: red;
}

#alternatives {
    text-align: left;
    font-family: 'Tahoma';
    color: limegreen;
    font-size: small;
}